{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}乏魏|留言板{% endblock %}}


{% block page_content %}
<div class="container messageboard" >
<div style="text-align: center;">
<img src="{{ url_for('static', filename='img/writer.png') }}" ><p><b><i>Sometimes ever, sometimes never.</i></b></p>
</div>
<div class="ds-thread" data-thread-key="" data-title="" data-url="{{ url_for('main.messageboard') }}"></div>
<div class="button-align">
<a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-back"><span class="glyphicon glyphicon-home"></span> Back Home</button></a>
</div>
</div>

<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"gabengcui"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
{% endblock %}